body {
    background-color: #bbb;
}

#header {
    background-color: rgb(66, 66, 66);
    color: darkblue;
    border-bottom: solid;
    border-color: black;
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
    cursor: pointer;
}

#title {
    font-family: sans-serif;
    padding-top: 40px;
    text-align: center;
    font-size: 50px;
    color: #444;
    margin-bottom: 10px;
}

#erik {
    height: 430px;
    width: 280px;
    background-color: #ccc;
    display: inline-block;
    padding: 20px;
    margin-left: 10%;
    margin-top: 30px;
}

#erh {
    font-size: 50px;
    text-align: center;
}

#mah {
    font-size: 40px;
    text-align: center;
}

#bah {
    font-size: 38px;
    text-align: center;
}

#erj, #maj, #baj {
    color: #333;
}

#erd {
    font-size: 1.1em;
}

#mad {
    font-size: 1.1em;
}

#bad {
    font-size: 1.1em
}

#marks {
    float: left;
    height: 430px;
    width: 280px;
    background-color: #ccc;
    display: inline-block;
    padding: 20px;
    margin-left: 30px;
}

#bas {
    float: right;
    height: 430px;
    width: 280px;
    background-color: #ccc;
    display: inline-block;
    padding: 20px;
    margin-right: 30px;
}

#erd p:first-letter, #mad p:first-letter, #bad p:first-letter {
    font-size: 23px;
    font-weight: 400;
}

p, h1, h2, h3, h4, h5, h6, a {
    font-family: sans-serif;
    font-weight: 100;
}

/*reset*/
* {
    margin: 0;
    padding: 0;
}