body {
    background: #CCCCCC;
}

#head {
    background-color: rgb(66, 66, 66);
    color: darkblue;
    border-bottom: solid;
    border-color: black;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 4em;
    font-family: sans-serif;
    position: fixed;
    font-weight: 100;
    padding-top: 34px;
    padding-bottom: 51px;
}

#desc {
    background-color: rgb(255, 145, 50);
    color: #666666;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-left: none;
    border-right: none;
    font-size: 20px;
}

/* reset blank things and stuff*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}