body {
    background: #CCCCCC;
}

img {
    height: 100px;
    
}

#head {
    background-color: rgb(66, 66, 66);
    color: darkblue;
    border-bottom: solid;
    border-color: black;
    width: 100%;
    text-align: center;
    height: 55px;
    font-size: 9em;
    font-family: Helvetica Neue;
    position: fixed;
    font-weight: 100;
    padding-bottom: 94px;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

#ht {
    margin-top: -10px;
}

#desc {
    background-color: rgb(255, 145, 50);
    color: #666666;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-left: none;
    border-right: none;
    padding-left: 5px;
    font-size: 3.5em;
    font-weight: 100;
    font-family: Helvetica Neue;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

#links{
    background-color: yellow;
    color: black;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    font-size: 3em;
    font-family: Helvetica Neue;
    padding: 5px;
    font-weight: 100;
    -webkit-text-adjust: 100%;
    -moz-text-adjust: 100%;
}

#link1{
    background-color: green;
    font-weight: 100;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 15px;
    border: solid;
    border-width: 2px;
    width: 32%;
    float: left;
    text-align: center;
}

#link2{
    background-color: rgb(0, 244, 254);
    font-weight: 100;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 15px;
    border: solid;
    border-width: 2px;
    width: 32%;
    float: right;
    text-align: center;
}

#link3{
    margin-left: 0.1em;
    background-color: rgb(255, 0, 0);
    font-weight: 100;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 15px;
    border: solid;
    border-width: 2px;
    width: 32%;
    float: left;
    text-align: center;
}

#link1 a, #link2 a, #about a {
    text-decoration: none;
    color: black;
}

#about{
    display: none;
    background-color: red;
    color: black;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    font-size: 3em;
    font-weight: 100;
    font-family: Helvetica Neue;
    padding: 5px;
    -webkit-text-adjust: 100%;
    -moz-text-adjust: 100%;
}

/* reset blank things and stuff*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}