body {
    background: #CCCCCC;
}

#head {
    background-color: rgb(66, 66, 66);
    color: darkblue;
    border-bottom: solid;
    border-color: black;
    width: 100%;
    text-align: center;
    height: 55px;
    font-size: 9em;
    font-family: Helvetica Neue;
    position: fixed;
    font-weight: 100;
    /*padding-top: 0px;*/
    padding-bottom: 94px;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

#ht {
    margin-top: -10px;
}

#marks {

background-color: #ccc;
width: 100%;
height: auto;

}

* {
    margin: 0px;
    padding: 0px;
}
