body {
    background-color: rgb(181, 181, 181);
}

#intro {
    font-family: Helvetica Neue;
    font-weight: 100;
    font-size: 22px;
    text-align: justify;
    padding: 10px 50px 0px 50px;
}

#titletext {
    color: blue;
    font-family: Helvetica Neue;
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
    position: absolute;
    margin-left: 44.3%
}

#button {
    padding-left: 6px;
    padding-top: 2px;
    float:left;
    cursor: pointer;
}

#sidebar {
    display:none;
	height:150px;
	background-color:#555;
}

#mottoout {
    text-align: center;
}

#motto {
    background-color: orange;
    border-bottom: 2px solid black;
    box-shadow: 0px 1px 6px 0px #000;
    padding: 10px 10px 10px 10px;
    font-family: Helvetica Neue;
    font-weight: 100;
    font-size: 23px;
    display: none;
}

#s1 {
    background-color: #343434;
    margin-left: 20px;
    width: 250px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    border-radius: 13px;
    cursor: pointer;    
    font-size: 20px;
    font-family: Helvetica Neue;
    font-weight: 200;
    color: #191919;
    box-shadow: 1px 1px 6px 0px #000 inset;
}

#menubar {
    display:table-cell;
    width: 100%;
	background-color:#8d8d8d;
    box-shadow: 0px 1px 6px 0px #000;
    position: relative;
}

#menubar img {
    display: inline-block;
    float: left;
}

#credits {
    background-color: rgb(39, 39, 39);
    color: rgb(55, 55, 55);
    bottom: 0px;
    position: fixed;
    width: 100%;
    border-top: solid #000000 2px;
    font-family: Helvetica Neue;
    line-height: 25px;
    text-indent: 10px;
}

/*no margin or padding svp*/
* {
    margin: 0px;
    padding: 0px;
}