body {
    background-color: rgb(181, 181, 181);
}

#titletext {
    color: blue;
    font-family: Helvetica Neue;
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
}

#button {
    padding-left: 6px;
    padding-top: 2px;
    float:left;
    cursor: pointer;
}

#sidebar {
    display:none;
	height:150px;
	background-color:#555;
}

#menubar {
    display:table-cell;
    width: 100%;
	background-color:#8d8d8d;
}

#menubar img {
    display: inline-block;
}

/*no margin or padding svp*/
* {
    margin: 0px;
    padding: 0px;
}