body {
    background: #ccc;
}
.flip {
    -webkit-perspective: 800;
    -moz-perspective: 800;
    -o-perspective: 800;
    -ms-perspective: 800;
    width: 400px;
    height: 200px;
    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
    -webkit-transform: rotatex(-180deg);
    -moz-transform: rotatex(-180deg);
    -o-transform: rotatex(-80deg);
    -ms-transform: rotatex(-80deg);
}
.flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    -moz-transform-style: preserve-3d;
    -moz-transition: 0.5s;
    -o-transform-style: preserve-3d;
    -o-transition: 0.5s;
    -ms-transform-style: preserve-3d;
    -ms-transition: 0.5s;
}
.flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    /*line-height: 200px;*/
}
.flip .card .front {
    position: absolute;
    z-index: 1;
    background: #ccc;
    color: black;
    cursor: pointer;
}
.flip .card .back {
    -webkit-transform: rotatex(-180deg);
    -moz-transform: rotatex(-180deg);
    -o-transform: rotatex(-180deg);
    -ms-transform: rotatex(-180deg);
    background: blue;
    background: #ccc;
    color: black;
    cursor: pointer;
}

#title {
    background-color: rgb(66, 66, 66);
    color: darkblue;
    border: solid;
    border-color: black;
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 110px;
    font-family: Helvetica Neue;
    /*float: left;*/
    font-weight: 100;
}

#desc{
    /*float: right;*/
    background-color: rgb(255, 145, 50);
    color: #666666;
    border: solid;
    border-color: black;
    width: 100%;
    height: 200px;
    font-family: Helvetica Neue;
    font-weight: lighter;
    font-size: 40px;
}

#text p{
    border: solid;
    border-width: 10px;
    border-color: rgb(255, 145, 50);
}

#link1 {
    background-color: green;
    margin-left: 40px;
    text-decoration: none;
    height: 65px;
    width: 300px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: black;
    float: left;
    cursor: pointer;
}

#link2 {
    background-color: rgb(0, 244, 254);
    text-decoration: none;
    height: 65px;
    width: 300px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: black;
    float: left;
    /*margin-left: 12%;*/
    cursor: pointer;
}

#link3 {
    background-color: rgb(255, 0, 0);
    text-decoration: none;
    height: 65px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    color: black;
    float: left;
    /*margin-left: 10px;*/
    cursor: pointer;
}

#link4 {
    background-color: rgb(255, 0, 255);
    text-decoration: none;
    height: 65px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    color: black;
    float: left;
    /*margin-left: 10px;*/
    cursor: pointer;
}

#centerstuff {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica Neue;
    font-weight: 100;
    font-size: 30px;
    text-align: justify;
}

#dl {
    background-color: yellow;
    width: 100%;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica Neue;
    padding-bottom: 0px;
    font-weight: 100;
    font-size: 30px;
    vertical-align: middle;
    border-top: solid;
    border-bottom: solid;
    border-color: #000000;
}

#footer {
    background-color: rgb(39, 39, 39);
    color: rgb(55, 55, 55);
    bottom: 0px;
    position: fixed;
    width: 100%;
    border-top: solid #000000 2px;
    font-family: Helvetica Neue;
    line-height: 25px;
    text-indent: 10px;
}

#text {
    vertical-align: middle;
}

#aboutcont {
    float: left;
    position: absolute;
    background-color: red;
    margin-left: 10px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 1210px;
}

#about1 {
    cursor: pointer;
}

/* reset blank things and stuff*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
