body {
    background-color: #bbb;
}

#about {
    background-color: #ccc;
    font-size: 20px;
    padding: 10px;
    width: 95%;
    margin-left: 1.5%;
    text-align: center;
}

#am {
    float: left;
}

#ab {
    float: right;
}

#header {
    background-color: rgb(66, 66, 66);
    color: darkblue;
    border-bottom: solid;
    border-color: black;
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    position: fixed;
}

#title {
    font-family: sans-serif;
    padding-top: 80px;
    text-align: center;
    font-size: 50px;
    color: #444;
    margin-bottom: 10px;
}

#erik {
    height: auto;
    width: 100%;
    background-color: #ccc;
    padding: 20px;
    margin-top: 30px;
    display: none;
    padding-left: 18em;
}

#erh {
    font-size: 50px;
}

#bah {
    font-size: 50px;
}

#mah {
    font-size: 50px;
}

#erj, #maj, #baj {
    color: #333;
}

#erd {
    font-size: 1.1em;
}

#mad {
    font-size: 1.1em;
}

#bad {
    font-size: 1.1em
}

#marks {
    height: auto;
    width: 100%;
    background-color: #ccc;
    padding: 20px;
    margin-top: 30px;
    display: none;
    padding-left: 18em;
}

#bas {
    height: auto;
    background-color: #ccc;
    padding: 20px;
    padding-right: -18em;
    margin-top: 30px;
    display: none;
    padding-left: 18em;
}

a:visited{
    color: blue;
}

#erd p:first-letter, #mad p:first-letter, #bad p:first-letter {
    font-size: 23px;
    font-weight: 400;
}

p, h1, h2, h3, h4, h5, h6, a {
    font-family: sans-serif;
    font-weight: 100;
}

/*reset*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}